In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

# 1 . load this data in sql and in pandas with a relation in sql

In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df=pd.read_excel(r'D:\1.SOMALI MISHRA\1.iNeuron\Python\Data set\Superstore_USA.xlsx')

In [3]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

# 2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

In [4]:
#set values to required parameter
host_name='localhost'
db_name='SuperstoreUSA'
u_name='root'
u_pass='1234'
port_num=3306

In [6]:
import mysql.connector as connection

mydb = connection.connect(host='localhost', user='root',passwd='1234') #check if the connection is established

cursor= mydb.cursor()                      #create a cursor to execute queries
cursor.execute('create database SuperstoreUSA')

In [7]:
#Engine Creation
engine = create_engine('mysql+mysqlconnector://root:1234@localhost:3306/SuperstoreUSA',echo=False)

In [21]:
df.to_sql('order_table', con=engine)

In [ ]:
#To bulk load data in MySQL database, we need to use mannual process which is given below:

#First to load excel file directly into database, we have to convert it into CSV file format. Then followthe steps.
#step 1 : Right click on table 
#step 2 : Select "Table Data Import Wizard"
#step 3 : Select the file which we have to load (in our case, it is SuperStore_USA.csv) and press next.
#step 4 : Select create new table and give the table name and press next.
#step 5 : Select the required conditions and press next. The data is loaded Successfully

In [11]:
df_r=pd.read_excel(r'D:\1.SOMALI MISHRA\1.iNeuron\Python\Data set\Superstore_USA.xlsx',sheet_name='Returns')
df_r

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [22]:
df_r.to_sql('return_table', con=engine)

In [13]:
df_u=pd.read_excel(r'D:\1.SOMALI MISHRA\1.iNeuron\Python\Data set\Superstore_USA.xlsx',sheet_name='Users')
df_u

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [23]:
df_u.to_sql('user_table', con=engine)

# 3 . Find out how much return that we have received and with a product id

In [14]:
orders_returns = pd.merge(df, df_r)

In [16]:
type(orders_returns)

pandas.core.frame.DataFrame

In [17]:
orders_returns.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status'],
      dtype='object')

In [19]:
orders_returns[(orders_returns['Status']=='Returned')]['Order ID']
#There are total 98 orders which were returned
#In the question, Product ID is mentioned which is not available, So I have given the order ID instead.

0      9895
1     13959
2     13959
3     36038
4     39490
      ...
93     7107
94     7107
95    42823
96    13638
97    47109
Name: Order ID, Length: 98, dtype: int64

# 4 . try  to join order and return data both in sql and pandas

In [ ]:
#4. try  to join order and return data both in sql and pandas 
pd.merge(df, df_r)

#Join in sql
#select * from returns INNER JOIN orders ON orders.OrderID=returns_done.orderID;

# 5 . Try to find out how many unique customer that we have

In [27]:
unique_customer=df['Customer ID'].unique()
len(unique_customer)

2703

# 6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [31]:
df_u

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [33]:
len(df_u['Region'].unique()) 
#There are 4 regions in total and the respective managers for each region are listed in above table 'users'

4

# 7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [34]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [35]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [43]:
Shipment_mode = df['Ship Mode']
Shipment_mode
count = pd.Series(Shipment_mode).value_counts()
count

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [45]:
type(count)

pandas.core.series.Series

In [46]:
s = pd.DataFrame(count)

In [50]:
total_ship_mode = s.sum()
total_ship_mode

Ship Mode    9426
dtype: int64

In [49]:
((s[['Ship Mode']])/total_ship_mode)*100 
#percentage usablity of all the shipment mode with respect to dataset

                Ship Mode
Regular Air     74.644600
Delivery Truck  13.611288
Express Air     11.744112

# 8 . Create a new coulmn and try to find out a diffrence between order date and shipment date

In [62]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [72]:
df['diff']=df['Ship Date']-df['Order Date']

In [73]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,0 days

# 9. Based on Question number 8, find out for which order id we have shipment duration more than 10 days

In [74]:
difference = df['diff']

In [75]:
df[(df['diff'].dt.components['days']>10)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

In [76]:
df[(df['diff'].dt.components['days']>10)]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

# 10 . Try to find out a list of a returned order which sihpment duration was more than 15 days and find out that region manager as well

In [94]:
a=pd.merge(df,df_r, how='left')
a

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days,NaN
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days,NaN
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days,NaN
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days,NaN

In [95]:
a['diff_new']=a['Ship Date']-a['Order Date']
a['diff_new']

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: diff_new, Length: 9426, dtype: timedelta64[ns]

In [96]:
a[(a['diff_new'].dt.components['days']>15)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff,Status,diff_new
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days,NaN,84 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days,NaN,17 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days,NaN,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days,NaN,17 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days,NaN,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days,NaN,92 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days,NaN,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days,NaN,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days,NaN,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days,NaN,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days,NaN,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days,NaN,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days,NaN,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days,NaN,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days,NaN,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days,NaN,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days,NaN,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days,NaN,31 days

In [97]:
b=pd.merge(a,df_u, how='left')
b

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff,Status,diff_new,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days,NaN,2 days,Chris
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days,NaN,1 days,William
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days,NaN,1 days,William
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days,NaN,1 days,William
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days,NaN,0 days,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days,NaN,1 days,Erin
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days,NaN,0 days,Erin
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days,NaN,2 days,Erin
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days,NaN,3 days,William
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days,NaN,2 days,William

In [99]:
b[(b['diff_new'].dt.components['days']>15)]['Manager']

643       Chris
1678    William
1680    William
1697    William
1699    William
2515    William
5673       Erin
5859        Sam
5881    William
8607        Sam
8609        Sam
8610        Sam
8973        Sam
8982       Erin
8983       Erin
8993       Erin
8996       Erin
8997       Erin
Name: Manager, dtype: object

# 11. Group by region and find out which region is most profitable

In [109]:
df.groupby('Region')['Profit'].sum()

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [103]:
df.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values("Profit",ascending = True)

    Region  Profit
2    South    1954
3     West    2284
1     East    2289
0  Central    2899

In [107]:
df.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values("Profit",ascending = True).max()

Region    West
Profit    2899
dtype: object

# 12. Try to find out overall in which country we are giving more discount

In [112]:
[df[df['Discount']>0.1]['Region']] #In central region, we are giving the most discounts.

[5990    Central
 5991    Central
 6000    Central
 8649    Central
 8661    Central
 Name: Region, dtype: object]

# 13. Give me a list of unique postal code

In [114]:
df['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

# 14 . which customer segement is more profitable find it out .

In [116]:
 df.groupby(['Customer Segment'])['Profit'].aggregate('count') #The corporate Customer segment is more profitable than others

Customer Segment
Consumer          1894
Corporate         3375
Home Office       2316
Small Business    1841
Name: Profit, dtype: int64

# 15. try to find out the 10th most loss making product catagory .

In [118]:
df[df['Profit']<0].reset_index().sort_values('Profit', ascending = True).head(10)

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,diff
2291,4659,18306,Medium,0.08,175.99,4.99,1738,Dean Solomon,Regular Air,Corporate,...,North Carolina,Gastonia,28052,2010-03-28,2010-03-28,-16476.838000,10,1486.34,85865,0 days
2121,4338,20972,Low,0.01,24.95,2.99,1632,Lori Wolfe,Regular Air,Home Office,...,Mississippi,Hattiesburg,39401,2012-05-21,2012-05-21,-14369.123580,3,81.31,90534,0 days
3811,7800,23213,Low,0.09,6783.02,24.49,2855,Vicki Womble,Regular Air,Consumer,...,Washington,Des Moines,98198,2010-03-10,2010-03-14,-14140.701600,1,6296.00,87317,4 days
2381,4844,21284,Critical,0.04,880.98,44.55,1793,Derek Jernigan,Delivery Truck,Home Office,...,Illinois,Galesburg,61401,2010-01-06,2010-01-07,-13706.464000,8,6968.90,87853,1 days
2660,5402,24076,Medium,0.04,6783.02,24.49,2004,James Dickinson Ball,Regular Air,Home Office,...,Montana,Bozeman,59715,2010-10-17,2010-10-19,-13562.637408,1,6569.07,91277,2 days
2664,5409,22942,High,0.05,3502.14,8.73,2006,Cynthia Khan,Delivery Truck,Home Office,...,Colorado,Durango,81301,2011-01-18,2011-01-19,-10402.943916,1,3460.11,88799,1 days
3771,7725,21048,Not Specified,0.06,6783.02,24.49,2825,Carole Rosen,Regular Air,Consumer,...,Idaho,Boise,83701,2011-09-12,2011-09-14,-10263.659700,2,9507.12,89498,2 days
1061,2191,21575,Not Specified,0.05,3499.99,24.49,838,Gary Walton,Regular Air,Consumer,...,California,Hacienda Heights,91745,2013-10-02,2013-10-03,-9078.940000,2,6849.48,89896,1 days
1977,4068,21917,High,0.06,3502.14,8.73,1530,Seth Sweeney,Delivery Truck,Consumer,...,California,Palm Springs,92262,2012-07-07,2012-07-09,-8570.448300,1,3057.44,88853,2 days
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.430900,1,3360.30,90778,1 days

# 16. Try to find out 10 top  product with highest margins

In [119]:
df.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & Seel® Recycled Catalog Envelopes, Brown
1515       Peel & Seel® Recycled Catalog Envelopes, Brown
5050       Peel & Seel® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object